.container {
  // get some extra space on the sides on mobile
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}


@include mq($large-screen) {
  .container {
    max-width: $container;
    margin-left: auto;
    margin-right: auto;
  }

  .container-large {
    max-width: $container-large;
    margin-left: auto;
    margin-right: auto;
  }

  .container-small {
    max-width: $container-small;
    margin-left: auto;
    margin-right: auto;
  }

}

.photo-grid-container {
  background-color: #f4f7f5;
  display: flex;
  padding-top: 50px;
  justify-content: center;
}

.photo-grid {
  width: 1000px;
  display: flex;
  justify-content: flex-start;
}

.photo-grid-item {
  width: 500px;
  height: 500px;
}

.heading-sub {
text-align: center;
padding-top: 25px;
font-size: 3 * $scale * 1rem;
line-height: 1.5 * $leading;
margin-top: 1 * $leading;
}
