---
layout: default
---

<div class="container">
  <h1 class="text-center">Master in Design for Emmergent Futures</h1>
    <hr>
</div>

<!--<img src="{{site.baseurl}}/images/running_man.svg"/> -->

<div class=heading-sub>Weeks</div>

<div class='photo-grid-container'>
<div class='photo-grid'>
  {% for reflection in site.reflections %}
  <div class='photo-grid-item'>
    <a href="{{ reflection.url | relative_url }}">
      <img src='{{site.baseurl}}/{{reflection.icon}}'/>
    <!--  <h2 class="post-title">{{ reflection.title }}</h2> -->
    </a>
  </div>
  {% endfor %}
</div>
</div>
